.BlogPost {

  &__content {
    max-width: 70rem;
    padding: 100px 20px;
    margin: 0 auto;
    line-height: 1.6;

    img {
      width: 100%;
      max-width: 600px;
      margin: 60px auto;
      display: block;
    }
    h2, h3, h4 {
      font-family: $serif;
      font-weight: 400;
      margin-bottom: 20px;
    }
    h2 { font-size: 2.8rem }

    p {
      margin-bottom: 30px;
      color: $color-text-m;
    }
  }

}
