.BlogPage {
  margin-top: 10rem;
  margin-bottom: 16rem;

  &__title {
    margin-bottom: 30px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 20px;
  }

  &__grid-item {
    background: $color-gray;
    .gatsby-image-wrapper {
      height: 200px;
    }
    &:nth-of-type(1), &:nth-of-type(7n) {
      grid-column: 1 / 3;
      .gatsby-image-wrapper {
        height: auto;
        max-height: 300px;

      }
    }
    &:nth-of-type(6n), {
      grid-column: 3 / 5;
      .gatsby-image-wrapper {
        height: auto;
        max-height: 300px;
      }
    }

  }

  &__grid-text {
    padding: 20px;
    h2 {
      font-size: 2.2rem;
    }
    p {
      color: $color-text-m;
      margin: 10px 0 20px;
    }
    a {
      color: $color-accent;
    }
  }

  @include whenMedium {
    margin-bottom: 10rem;
    margin-top: 6rem;

    &__grid {
      max-width: 600px;
      margin: 40px auto 0;
      display: grid;
      grid-template-columns: 100%;
      grid-auto-rows: auto;
    }

    &__grid-item {
      grid-column: auto !important;
      .gatsby-image-wrapper {
        height: auto;
        max-height: 260px !important;
      }
    }
  }
  @include whenSmall {
    // background: darkgreen;
  }
}
