.Footer {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: $color-gray;

  &__inner {
    display: flex;
    align-items: center;
  }
  &__text-container {
    flex: 1;
    padding-right: 60px;
  }
  &__title { margin-bottom: 40px; }
  &__body { margin-bottom: 20px; }

  &__contact-info {
    display: flex;
    font-size: 1.7rem;
    color: $color-text-m;
    span { margin-right: 10px; }
  }
  &__icons-container {
    margin-top: 20px;
    color: $color-accent;
    font-size: 2.8rem;
    svg {
      margin-right: 20px;
      transition: color .3s;
      cursor: pointer;
      &:hover { color: darken($color-accent, 10%); }
    }
  }

  &__form-item { margin-bottom: 20px; }
  &__form {
    flex: 1;
    div:nth-child(1) {
      width: 50%;
      display: inline-block;
      padding-right: 5px;
    }
    div:nth-child(2) {
      width: 50%;
      display: inline-block;
      padding-left: 5px;
    }
    label {
      display: block;
      margin-bottom: 5px;
      color: $color-text-m;
    }
    input, textarea {
      background: $color-gray-l;
      border: none;
      padding: 10px;
      font-size: 1.8rem;
      color: $color-text;
      font-family: $sans;
    }
    input { width: 100%; }
    textarea {
      width: 100%;
      resize: none;
      height: 200px;
    }
    button {
      display: block;
      margin: 0 auto;
      background: none;
      border: 2px solid $color-accent;
      color: $color-accent;
      font-size: 1.6rem;
      padding: 16px 20px;
      font-family: $sans;
      cursor: pointer;
    }
  }

  @include whenMedium {
    padding-top: 6rem;
    padding-bottom: 6rem;

    &__inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__form { margin-top: 8rem; }
    &__text-container {
      padding-right: 0;
      max-width: 430px;
    }
  }
  @include whenSmall {

    &__inner { flex-direction: column; }
    &__form {
      div:nth-child(1), div:nth-child(2) {
        width: 100%;
        padding: 0;
      }
    }
  }
}
